$phone: 320px;
$tablet: 768px;
$laptop: 1024px;
$largescreens: 1440px;

$box-bcolor: rgb(32, 34, 37);
$main-bcolor: rgb(54, 57, 63);
$side-bcolor: rgb(47, 49, 54);
$hover-bcolor: rgb(57, 60, 67);
$box-color: rgb(242, 239, 243);
$main-color: rgb(204, 204, 204);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    padding: 0rem 3rem;
    min-height: 8vh;
    background-color: $box-bcolor;
    color: $box-color;
}

main {
    background-color: $main-bcolor;
    color: $main-color;
    min-height: 86vh;
    padding-top: 2vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

footer {
    min-height: 6vh;
    background-color: $box-bcolor;
    color: $box-color;
}

@media screen and (min-width: $phone) {
    address {
        background-color: $box-bcolor;
        width: 100%;
        border: none;
        border: solid 1rem $box-bcolor;
        border-radius: 10px;

        a {
            color: $box-color;
            letter-spacing: 0.1rem;
            display: flex;
            justify-content: left;
            align-items: center;

            &:hover {
                background-color: $hover-bcolor;
            }
        }
    }

    form {
        display: grid;
        grid-template-columns: repeat(1, minmax(5rem, 1fr));
        width: 80%;
        background-color: $box-bcolor;
        border: none;
        border: solid 1rem $box-bcolor;
        border-radius: 10px;
        justify-content: center;
    }

    label {
        display: none;
    }

    input {
        background-color: whitesmoke;
        color: $box-bcolor;
        border: 1rem;
        padding: 1rem;
        margin: 1rem;
        border: none;
        border: solid 1px #ccc;
        border-radius: 10px;

        &#name {
            width: 50%;
        }
    }

    textarea {
        background-color: whitesmoke;
        color: $box-bcolor;
        border: 1rem;
        padding: 1rem;
        margin: 1rem;
        border: none;
        border: solid 1px #ccc;
        border-radius: 10px;
        resize: none;
    }

    .home-route {
        img {
            &:hover {
                opacity: 0.3;
            }
        }
    }

    .description {
        color: rgb(157, 222, 252);
        font-weight: bold;
        text-shadow: -0.1rem 0.2rem black;
        text-align: left;
        display: flex;

        h3 {
            font-size: 2rem;
        }

        p {
            font-size: 1.5rem;
        }

        ul {
            align-self: flex-start;
        }
    }

    .item {
        img {
            object-fit: fill;
            width: 100%;
            height: 100%;
        }

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem,
        rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
        height: 100%;
        width: 100%;
        border-radius: 4px;
        transition: all 500ms;
        overflow: hidden;
        font-size: 1.5rem;
        text-shadow: -0.1rem 0.1rem black;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    body {
        overflow-x: hidden;
    }

    .nav-links {
        position: absolute;
        right: 0;
        height: 92vh;
        top: 8vh;
        background-color: $side-bcolor;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 30%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        text-decoration: none;
        justify-content: space-around;

        li {
            opacity: 0;
            list-style-type: none;
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
        }

        a {
            color: $box-color;
            letter-spacing: 0.1rem;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            &:hover {
                background-color: $hover-bcolor;
            }
        }
    }

    .sandwich {
        font-size: 1.25rem;
        font-weight: bold;
        display: block;
        background-color: $box-bcolor;
        color: $box-color;
        border-radius: 25%;
        padding: 0.75rem;
        border: 0.1rem solid $box-color;
    }

    header {
        display: flex;
        align-items: center;
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-grow: 1;
        margin: 0 1rem;
    }

    .nav-active {
        transform: translateX(0%)
    }

    @keyframes navLinkFade {
        from {
            opacity: 0;
            transform: translateX(10vw);
        }

        to {
            opacity: 1;
            transform: translateX(0vw);
        }
    }

    .logo {
        font-size: 1.5rem;
        overflow: hidden;
        display: flex;
        font-weight: bolder;
        letter-spacing: 0.1rem;

        &:hover {
            span {
                opacity: 1;
            }
        }

        span {
            transition: all 0.3s ease-out;
            width: 0;
            opacity: 0;
            display: inline-flex;
            overflow: hidden;
        }
    }

    .linkedin {
        display: none;
    }

    footer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 0 2vw;
    }

    .grid {
        width: 80%;
        margin-top: 5vh;
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(1, minmax(5rem, 1fr));
    }
}

@media screen and (min-width: $tablet) {
    form {
        width: 60%;
    }

    .grid-center {
        text-align: center;
    }

    .grid {
        width: 60%;
    }

    .linkedin {
        font-weight: bolder;
        display: flex;
        padding: 0.9rem;
        margin: 0.1rem;
        font-size: 1rem;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        border-radius: 50%;

        &:hover {
            opacity: 0.7;
        }

        background: #007bb5;
        color: white;
    }


}

@media screen and (min-width: $laptop) {
    form {
        width: 60%;
    }

    .nav-links {
        flex-direction: row;
        top: 0vh;
        height: 8vh;
        transform: translateX(0%);
        background-color: $box-bcolor;
        transition: none;
        width: 50vw;

        li {
            opacity: 1;
            height: 100%;
        }

        a {
            text-decoration: none;
        }
    }

    .sandwich {
        display: none;
    }
}

@media screen and (min-width: $largescreens) {
    .grid {
        grid-template-columns: repeat(2, minmax(5rem, 1fr));
    }

    .item-wide {
        grid-column: span 2 / auto;
    }

    .item-tall {
        grid-row: span 2 / auto;
    }
}