* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  padding: 0rem 3rem;
  min-height: 8vh;
  background-color: #202225;
  color: #f2eff3;
}

main {
  background-color: #36393f;
  color: #cccccc;
  min-height: 86vh;
  padding-top: 2vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer {
  min-height: 6vh;
  background-color: #202225;
  color: #f2eff3;
}

@media screen and (min-width: 320px) {
  address {
    background-color: #202225;
    width: 100%;
    border: none;
    border: solid 1rem #202225;
    border-radius: 10px;
  }
  address a {
    color: #f2eff3;
    letter-spacing: 0.1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  address a:hover {
    background-color: #393c43;
  }
  form {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(5rem, 1fr))[1];
        grid-template-columns: repeat(1, minmax(5rem, 1fr));
    width: 80%;
    background-color: #202225;
    border: none;
    border: solid 1rem #202225;
    border-radius: 10px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  label {
    display: none;
  }
  input {
    background-color: whitesmoke;
    color: #202225;
    border: 1rem;
    padding: 1rem;
    margin: 1rem;
    border: none;
    border: solid 1px #ccc;
    border-radius: 10px;
  }
  input#name {
    width: 50%;
  }
  textarea {
    background-color: whitesmoke;
    color: #202225;
    border: 1rem;
    padding: 1rem;
    margin: 1rem;
    border: none;
    border: solid 1px #ccc;
    border-radius: 10px;
    resize: none;
  }
  .home-route img:hover {
    opacity: 0.3;
  }
  .description {
    color: #9ddefc;
    font-weight: bold;
    text-shadow: -0.1rem 0.2rem black;
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .description h3 {
    font-size: 2rem;
  }
  .description p {
    font-size: 1.5rem;
  }
  .description ul {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
            box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
    height: 100%;
    width: 100%;
    border-radius: 4px;
    -webkit-transition: all 500ms;
    transition: all 500ms;
    overflow: hidden;
    font-size: 1.5rem;
    text-shadow: -0.1rem 0.1rem black;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .item img {
    -o-object-fit: fill;
       object-fit: fill;
    width: 100%;
    height: 100%;
  }
  body {
    overflow-x: hidden;
  }
  .nav-links {
    position: absolute;
    right: 0;
    height: 92vh;
    top: 8vh;
    background-color: #2f3136;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 30%;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.5s ease-in;
    transition: -webkit-transform 0.5s ease-in;
    transition: transform 0.5s ease-in;
    transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
    text-decoration: none;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .nav-links li {
    opacity: 0;
    list-style-type: none;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  .nav-links a {
    color: #f2eff3;
    letter-spacing: 0.1rem;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav-links a:hover {
    background-color: #393c43;
  }
  .sandwich {
    font-size: 1.25rem;
    font-weight: bold;
    display: block;
    background-color: #202225;
    color: #f2eff3;
    border-radius: 25%;
    padding: 0.75rem;
    border: 0.1rem solid #f2eff3;
  }
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    margin: 0 1rem;
  }
  .nav-active {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  @-webkit-keyframes navLinkFade {
    from {
      opacity: 0;
      -webkit-transform: translateX(10vw);
              transform: translateX(10vw);
    }
    to {
      opacity: 1;
      -webkit-transform: translateX(0vw);
              transform: translateX(0vw);
    }
  }
  @keyframes navLinkFade {
    from {
      opacity: 0;
      -webkit-transform: translateX(10vw);
              transform: translateX(10vw);
    }
    to {
      opacity: 1;
      -webkit-transform: translateX(0vw);
              transform: translateX(0vw);
    }
  }
  .logo {
    font-size: 1.5rem;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-weight: bolder;
    letter-spacing: 0.1rem;
  }
  .logo:hover span {
    opacity: 1;
  }
  .logo span {
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    width: 0;
    opacity: 0;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    overflow: hidden;
  }
  .linkedin {
    display: none;
  }
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 2vw;
  }
  .grid {
    width: 80%;
    margin-top: 5vh;
    display: -ms-grid;
    display: grid;
    gap: 1rem;
    -ms-grid-columns: (minmax(5rem, 1fr))[1];
        grid-template-columns: repeat(1, minmax(5rem, 1fr));
  }
}

@media screen and (min-width: 768px) {
  form {
    width: 60%;
  }
  .grid-center {
    text-align: center;
  }
  .grid {
    width: 60%;
  }
  .linkedin {
    font-weight: bolder;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0.9rem;
    margin: 0.1rem;
    font-size: 1rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-decoration: none;
    border-radius: 50%;
    background: #007bb5;
    color: white;
  }
  .linkedin:hover {
    opacity: 0.7;
  }
}

@media screen and (min-width: 1024px) {
  form {
    width: 60%;
  }
  .nav-links {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    top: 0vh;
    height: 8vh;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    background-color: #202225;
    -webkit-transition: none;
    transition: none;
    width: 50vw;
  }
  .nav-links li {
    opacity: 1;
    height: 100%;
  }
  .nav-links a {
    text-decoration: none;
  }
  .sandwich {
    display: none;
  }
}

@media screen and (min-width: 1440px) {
  .grid {
    -ms-grid-columns: (minmax(5rem, 1fr))[2];
        grid-template-columns: repeat(2, minmax(5rem, 1fr));
  }
  .item-wide {
    grid-column: span 2 / auto;
  }
  .item-tall {
    grid-row: span 2 / auto;
  }
}
/*# sourceMappingURL=styles.css.map */